<div class="row param-required">
	<div class="col-sm-6 c-input-group">
    <label class="code required c-input-label" for="textInput">
			{{#if description}}
				{{{description}}}
			{{else}}
				{{{name}}}
			{{/if}}
		</label>
		{{#if isBody}}
			{{#if isFile}}
				<input type="file" name="{{name}}"/>
			{{else}}
				{{#if defaultValue}}
					<textarea class="c-input-textarea body-textarea param-value" placeholder="(required)" name="{{name}}">{{defaultValue}}</textarea>
				{{else}}
					<textarea class="c-input-textarea body-textarea param-value" placeholder="(required)" name="{{name}}"></textarea>
					<br />
					<div class="parameter-content-type" />
				{{/if}}
			{{/if}}
		{{else}}
			{{#if isFile}}
				<input class="parameter param-value" class="required" type="file" name="{{name}}"/>
			{{else}}
				{{#if defaultValue}}
					<input class="c-input-field parameter required param-value" minlength="1" name="{{name}}" type="text" value="{{defaultValue}}"/>
				{{else}}
					<input class="c-input-field parameter required param-value" minlength="1" name="{{name}}" type="text" value=""/>
				{{/if}}
			{{/if}}
		{{/if}}
		<p class="c-help-text">{{{paramType}}}&nbsp;<span class="data-type"></span></p>
	</div>
</div>
