<td class='code required'><label for='{{valueId}}'>{{name}}</label></td>
<td>
    {{#if isBody}}
        <textarea class='body-textarea' readonly='readonly' placeholder='(required)' name='{{name}}' id='{{valueId}}'>{{default}}</textarea>
    {{else}}
        {{#if default}}
            {{default}}
        {{else}}
            (empty)
        {{/if}}
    {{/if}}
</td>
<td class="markdown">{{{description}}}</td>
<td>{{{paramType}}}</td>
<td>
    {{#if isBody}}
        <span class="model-signature"></span>
    {{else}}
        <span class="data-type"></span>
    {{/if}}
</td>
