<div class='heading'>
  <h2>
{{!-- <<<<<<< HEAD
    <a href='#!/{{id}}' onclick="Docs.toggleEndpointListForResource('{{id}}');">{{name}}</a> {{#description}} {{/description}}{{{description}}}
======= --}}
    <a href='#!/{{id}}' class="toggleEndpointList" data-id="{{id}}">{{name}}</a> {{#summary}} : {{/summary}}{{{summary}}}
{{!-- >>>>>>> 43a78f965807dc2391506d7ca6f3ac5c0da1df52 --}}
  </h2>
  <ul class='options'>
    <li>
      <a href='#!/{{id}}' id='endpointListTogger_{{id}}' class="toggleEndpointList" data-id="{{id}}" data-sw-translate>Show/Hide</a>
    </li>
    <li>
      <a href='#' class="collapseResource" data-id="{{id}}" data-sw-translate>
        List Operations
      </a>
    </li>
    <li>
      <a href='#' class="expandResource" data-id="{{id}}" data-sw-translate>
        Expand Operations
      </a>
    </li>
    {{#if url}}
    <li>
      <a href='{{url}}' data-sw-translate>Raw</a>
    </li>
    {{/if}}
  </ul>
</div>
<ul class='endpoints' id='{{id}}_endpoint_list' style='display:none'>

</ul>
